.head {
  font-weight: bold;
  font-size: 13px;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
  margin-bottom: 5px;
}

.input {
  border: 1px solid #999999;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  padding-left: 3px;
  line-height: 23px;
  height: 27px;
}

.searchButton {
  background-color: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 3px 3px 3px 3px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 15px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  height: 27px;
}

.searchButton:hover {
  background-color: #357ae8;
  border: 1px solid #2f5bb7;
}

.switch {
  background-color: whitesmoke;
  border: 1px solid #cccccc;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  padding: 8px 0;
  margin-left: 5px;
}

.switch * {
  vertical-align: bottom;
}

.inputTitle {
  display: inline-block;
  width: 50px;
}

.inputVia {
  font-size: 5px;
  display: inline-block;
  width: 50px;
  color: #666666;
}

.inputField {
  display: inline-block;
}

.inputViaRemove {
  display: inline-block;
  font-size: 17px;
  color: #666666;
  vertical-align: middle;
  font-weight: bold;
  padding: 5px;
}

.addDestinationButton {
  display: block;
  color: #666666;
  padding: 3px;
}

.addIcon {
  vertical-align: middle;
}

.body {
  padding: 5px;
  margin-bottom: 15px;
  font-size: 13px;
}

.contentContainer {
  text-align: center;
}

.content {
  display: inline-block;
  text-align: initial;
}

.searchRow {
  margin-bottom: 5px;
}

.searchColumn {
  display: inline-block;
  vertical-align: middle;
}

.checkBoxColumn {
  display: inline-block;
  vertical-align: middle;
}

.checkBoxRow {
  margin-top: 5px;
}

.searchButtonContainer {
  margin-top: 5px;
  text-align: right;
}

.autoCompleteList {
  font-size: 14px;
  border: 1px solid #cccccc;
  background-color: white;
  position: absolute;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 250px;
}

.autoCompleteList li {
  background-color: white;
}

.autoCompleteList li:hover {
  background-color: #cccccc;
}

.autoCompleteList button {
  padding: 10px;
  width: 100%;
  text-align: left;
}

.autoCompleteList :global(.name) {
  font-weight: bold;
}

.autoCompleteList :global(.location) {
  color: #666666;
}

