.selected {
  background-color: #ececec;
}

.buildingList {
  border-bottom: 1px solid #cccccc;
  padding: 5px 0;
  margin-bottom: 5px;
}

.buildingList li {
  display: inline-block;
}

.floorList li {
  display: inline-block;
  margin-right: 10px;
}

.floorButton {
  text-decoration: underline;
  font-size: 10pt;
  color: blue;
}

.floorButton:hover {
  color: red;
}

.floorList li::after {
  content: ",";
}

.floorList li:last-child::after {
  content: "";
}

.buildingButton {
  font-weight: bold;
  font-size: 10pt;
  padding: 4px;
}

.body {
  padding: 5px;
  margin-bottom: 15px;
}
