.body {
  height: calc(100% - 43px);
}

.body--mobile {
  height:  calc(100% - 47px);
}

.header {
  font-family: Verdana;
  font-size: 14pt;
  color: black;
  background-color: #F1F1F1;
  padding: 0 10px;
  line-height: 43px;
}
