.input {
  border: 1px solid #999999;
  border-radius: 3px 3px 3px 3px;
  font-size: 14px;
  height: 23px;
  padding-left: 3px;
  line-height: 23px;
}

.autoCompleteList {
  font-size: 14px;
  border: 1px solid #cccccc;
  background-color: white;
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 250px;
}

.autoCompleteListItem {
  background-color: white;
}

.autoCompleteListItem:hover {
  background-color: #cccccc;
}

.autoCompleteListItemName {
  font-weight: bold;
}

.autoCompleteListItemLocation {
  color: #666666;
}

.autoCompleteListItemButton {
  padding: 10px;
  width: 100%;
  text-align: left;
}
