.body {
  min-width: 240px;
}

.header {
  box-sizing: border-box;
  border-top: 3px solid rgba(80, 80, 80, 0.95);
  border-left: 3px solid rgba(58, 58, 58, 0.95);
  border-bottom: 3px solid rgba(58, 58, 58, 0.95);
  border-right: 3px solid rgba(58, 58, 58, 0.95);
  background: linear-gradient(rgba(7,7,7,0.95),rgba(72,72,72,0.95) );
  color: rgb(153, 153, 153);
  font-size: 15pt;
  padding-left: 5px;
}

.item {
  background-color: rgba(0, 95, 140, 0.95);
  border-left: 3px solid rgba(0, 75, 111, 0.95);
  border-right: 3px solid rgba(39, 119, 158, 0.95);
  border-bottom: 3px solid rgba(0, 75, 111, 0.95);
  border-top: 3px solid rgba(39, 119, 158, 0.95);
  color: white;
  font-size: 19px;
}

.itemSelected {
  background-color: rgba(154, 222, 255, 0.95);
  border-left: 3px solid rgba(206, 239, 255, 0.95);
  border-right: 3px solid rgba(204, 238, 255, 0.95);
  border-bottom: 3px solid rgba(173, 228, 255, 0.95);
  border-top: 3px solid rgba(220, 244, 255, 0.95);
  color: #333333;
}
