.body {
  overflow: hidden;
  height: 100%;
}

.title {
  color: #ededed;
  background-color: #2b2b2b;
  font-size: 13px;
  line-height: 30px;
  padding: 0px 10px;
}

.floor{
  display: inline-block;
  font-weight: bold;
  width: 50%
}
.buttons {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.button {
  margin-left: 10px;
}

.canvasRoot {
  height: calc(100% - 30px);
  position: relative;
}

.canvasRoot--mobile {
  height: 100%;
}

.layerButton {
  position: absolute;
  bottom: 4px;
  right: 10px;
  display: block;
  background: linear-gradient(rgba(0,0,0,0.85),rgba(51,51,51,0.85) );
  border: 1px solid #333333;
  border-radius: 5px;
  width: 24px;
  height: 24px;
}

.layerButton--mobile {
  width: 36px;
  height: 36px;
  bottom: 44px;
}

.layerButton > img {
  width: 60%;
  vertical-align: middle;
}
