{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier/react"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": [0],
    "arrow-parens": ["error", "as-needed"],
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "printWidth": 100,
        "trailingComma": "all"
      }
    ]
  }
}
