{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier/react"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
