.pathIcon {
  display: inline-block;
  width: 24px;
  height: 47px;
  background-position: -27px 0px;
  background-size: 78px 47px;
  background-image: url(/images/mobile/path.png);
}

.inputAreaContent {
  flex-grow: 1;
}

.inputArea {
  display: flex;
  flex-grow: 1;
}

.pathSpace {
  width: 7px;
}

.input {
  box-sizing: border-box;
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  margin-top: 8px;
  width: 100%;
  height: 30px;
  border: 0px solid white;
  background-color: white;
  font-size: 18px;
  color: black;
}

.input::placeholder,
.input::-webkit-input-placeholder {
  color: #cccccc;
  font-style: italic;
}

.autoCompleteList {
  position: absolute;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  margin-left: -59px;
  box-sizing: border-box;
  margin-top: 9px;
}

.autoCompleteList li {
  background-color: rgba(0, 95, 140, 0.95);
  box-sizing: border-box;
  border-left: 3px solid rgba(0, 75, 111, 0.95);
  border-right: 3px solid rgba(0, 75, 111, 0.95);
  border-bottom: 3px solid rgba(0, 75, 111, 0.95);
  border-top: 3px solid rgba(39, 119, 158, 0.95);
  color: white;
  height: 40px;
  padding-left: 13px;
}

.autoCompleteList button {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 11pt;
  font-weight: bold;
}

.search {
  width: 52px;
}

.inputErrorMessage {
  padding: 50px;
}
